<h1>Dashboard</h1>

<%= shout_form_for(TextShout) do |content_form| %>
  <%= content_form.text_field :body, placeholder: "Shout here!", required: true %>
<% end %>

<%= shout_form_for(PhotoShout) do |content_form| %>
  <%= content_form.file_field :photo %>
<% end %>

<br>
<%= render @shouts %>